.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;

}

.jumbotron {
border-bottom: 3px solid burlywood;
font-family: 'Waiting for the Sunrise', cursive;
text-align: center;


}


img {
  max-height: 250px;
  width: 250px;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
  font-family: 'Lilita One', cursive;
  
}

    
#reset {
  visibility: visible;
  margin-top: 0px;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: 'Karla', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
  
}

h2 {
  font-size: 25px;
}
p {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  

}

h2, h4 {
  margin: 30px;
  font-weight: bold;
 


}
#correct {
 color: green;
}
#wrong {
    color: red;
}

.container {
    float: left;
    margin-left: 4%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid burlywood;
  height: 500px;
  width: 50%;
  text-align: center;

  

}

.btn {
  position: relative;
  bottom: -150px;
  padding: 2%;
  font-size: 20px;
  -webkit-text-stroke: .05px black;
  font-family: 'Lilita One', cursive;

}
.questions {
    font-family: 'Lilita One', cursive;
}

@media screen and (max-width: 640px) {
  .container{
    width: 100%;
  float: none;
  margin: 0 auto;
  
  }
  .questions {
    font-size: 15px
  }

  h2 {
    font-size: 15px;
  }
}

